<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href=".css" th:href="@{/.css}" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<h2>掲示板</h2>
<!-- 	記事を投稿する -->
	<div class="articleInput">
		<form action="article.html" th:action="@{/article/insert}" th:object="${articleForm}" method="post">
			<div th:errors="*{name}" style="color: red">name errors</div>
			<label for="name" th:for="name">投稿者名</label>:
			<input id="name" th:id="name" type="text" name="name" th:field=*{name}><br>
			<div th:errors="*{content}" style="color: red">content errors</div>
			<label for="content" th:for="content">投稿内容</label>:
			<textarea id="content" th:id="content" name="content" th:field="*{content}" rows="3" cols="30"></textarea><br>
			<button>記事投稿</button>
		</form>
	</div>
<!-- 	記事を表示する -->
	<div th:if="${articleList}" th:each="article:${articleList}">
		<hr>
<!-- 		記事削除 -->
		<div>
				投稿者名:<span th:text="${article.name}">name</span><br>
				投稿内容:<br><pre th:text="${article.content}">comment</pre><br>
			<form action="article.html" th:action="@{/article/delete}" method="post">
				<input type="hidden" name="articleId" th:value="${article.id}">
				<button>記事削除</button>
			</form>
		</div>
<!-- 		コメント表示 -->
		<div th:if="${article.commentList}" th:each="comment:${article.commentList}">
			<div>
				コメント者名:<span th:text="${comment.name}">name</span>
			</div>
		コメント内容:<br><pre th:text="${comment.content}">comment</pre>
		</div>
<!-- 		コメント投稿 -->
		<div>
			<form action="article.html" th:action="@{/article/comment}" th:object="${commentForm}" method="post">
				<input type="hidden" name="articleId" th:value="${article.id}">
				<div th:if="${article.id} == *{articleId}" th:errors="*{name}" style="color: red">name error</div>
				<label for="name" th:for="name">名前</label>:<br>
				<input th:if="${article.id} == *{articleId}" id="name" th:id="name" type="text" name="name" th:field=*{name}><br>
				<input th:if="${article.id} != *{articleId}" id="name" th:id="name" type="text" name="name"><br>
				<div th:if="${article.id}==*{articleId}" th:errors="*{content}" style="color: red">content error</div>
				<label for="content" th:for="content">コメント</label>:<br>
				<textarea th:if="${article.id} == *{articleId}" id="content" th:id="content" name="content" th:field="*{content}" rows="3" cols="30"></textarea><br>
				<textarea th:if="${article.id} != *{articleId}" id="content" th:id="content" name="content" rows="3" cols="30"></textarea><br>
				<button>コメント投稿</button>
			</form>
		</div>
	</div>
	
</body>
</html>